<nav>
  <mat-toolbar color="primary">
      <a mat-button [routerLink]="['']"><i class="material-icons">people</i> <span>Practica</span></a>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>

    <!-- Angajator -->
    <a mat-button [routerLink]="['/activities']" [routerLinkActive]="['pr-nav-active']">Activitatile mele</a>
    <a mat-button [routerLink]="['/activities/new']" [routerLinkActive]="['pr-nav-active']">Adauga activitate</a>
    <a mat-button [routerLink]="['/search']" [routerLinkActive]="['pr-nav-active']">Cautare</a>

    <!-- Student -->
    <!-- zona de filtrare --><input />
    <a mat-button [routerLink]="['/aplications']" [routerLinkActive]="['pr-nav-active']">Aplicari</a>

    <!-- Profesori -->
    <a mat-button [routerLink]="['/statistics']" [routerLinkActive]="['pr-nav-active']">Statistici</a>

    <span>|</span>
    <a mat-button [routerLink]="['/register']" [routerLinkActive]="['pr-nav-active']">Creaza cont</a>
    <a mat-button [routerLink]="['/profile/student']" [routerLinkActive]="['pr-nav-active']">Profil S</a>
    <a mat-button [routerLink]="['/profile/company']" [routerLinkActive]="['pr-nav-active']">Profil C</a>
    <a mat-button [routerLink]="['/profile/teacher']" [routerLinkActive]="['pr-nav-active']">Profil T</a>
    <a mat-button [routerLink]="['/login']" [routerLinkActive]="['pr-nav-active']">Intra in cont</a>
    <a mat-button [routerLink]="['/logout']" [routerLinkActive]="['pr-nav-active']">Iesire</a>
  </mat-toolbar>
</nav>

<section class="pr-home-content">
  <router-outlet></router-outlet>
</section>

<footer class="pr-home-footer">
  <mat-toolbar>
      <span>©2017 PRACTICA.RO</span>
      <button mat-button>Despre noi</button>
      <button mat-button>Contact</button>
  </mat-toolbar>
</footer>