<header class="pr-main-header">
  <nav>
    <mat-toolbar color="primary">
      <div class="pr-container">
        <a mat-button [routerLink]="['']"><i class="material-icons">people</i> <span>Practica</span></a>
        <span class="pr-fill-space"></span>
    
        <!-- <a mat-button [routerLink]="['/search']" [routerLinkActive]="['pr-nav-active']">Cautare</a> -->
        <!-- zona de filtrare -->
        <input class='pr-search' placeholder="Cauta locuri de practica, cursuri si alte activitati"/>
        <button mat-button class="pr-search-button"><mat-icon>search</mat-icon></button>
        

        <!-- Nav for large screens -->
        <div fxLayout="row" fxHide fxShow.gt-sm>
          <!-- Actuni Angajator -->
          <a mat-button *ngIf="loggedIn && user.Role=='Company'" [routerLink]="['/activities-company']" [routerLinkActive]="['pr-nav-active']">Activitatile mele</a>
          <a mat-button *ngIf="loggedIn && user.Role=='Company'" [routerLink]="['/activity/new']" [routerLinkActive]="['pr-nav-active']">Adauga activitate</a>
          <!-- Actuni Student -->
          <a mat-button *ngIf="loggedIn && user.Role=='Student'" [routerLink]="['/aplications']" [routerLinkActive]="['pr-nav-active']">Aplicari</a>
          <!-- Actuni Profesor -->
          <a mat-button *ngIf="loggedIn && user.Role=='Teacher'" [routerLink]="['/statistics']" [routerLinkActive]="['pr-nav-active']">Statistici</a>
          <span>|</span>
          <!-- Profile -->
          <a mat-button *ngIf="loggedIn && user.Role=='Student'" [routerLink]="['/profile/student']" [routerLinkActive]="['pr-nav-active']"><mat-icon>account_circle</mat-icon> Profil</a>
          <a mat-button *ngIf="loggedIn && user.Role=='Company'" [routerLink]="['/profile/company']" [routerLinkActive]="['pr-nav-active']"><mat-icon>account_circle</mat-icon> Profil</a>
          <a mat-button *ngIf="loggedIn && user.Role=='Teacher'" [routerLink]="['/profile/teacher']" [routerLinkActive]="['pr-nav-active']"><mat-icon>account_circle</mat-icon> Profil</a>
          <!-- Registe, login, logout -->
          <a mat-button *ngIf="!loggedIn" [routerLink]="['/register']" [routerLinkActive]="['pr-nav-active']"><mat-icon>person_add</mat-icon> Creaza cont</a>
          <a mat-button *ngIf="!loggedIn" [routerLink]="['/login']" [routerLinkActive]="['pr-nav-active']"><mat-icon>face</mat-icon> Intra in cont</a>
          <a mat-button *ngIf="loggedIn" (click)="Logout()"><mat-icon>exit_to_app</mat-icon> Iesire</a>
        </div>

        <button mat-button [mat-menu-trigger-for]="menu" fxShow fxHide.gt-sm>
         <mat-icon>menu</mat-icon>
        </button>
      </div>
    </mat-toolbar>

    <!-- Nav for small screens -->
    <mat-menu x-position="before" #menu>
        <!-- Actiuni Angajator -->
        <a mat-menu-item *ngIf="loggedIn && user.Role=='Company'" [routerLink]="['/activities-company']" [routerLinkActive]="['pr-nav-active']">Activitatile mele</a>
        <a mat-menu-item *ngIf="loggedIn && user.Role=='Company'" [routerLink]="['/activity/new']" [routerLinkActive]="['pr-nav-active']">Adauga activitate</a>
        <!-- Actiuni Student -->
        <a mat-menu-item *ngIf="loggedIn && user.Role=='Student'" [routerLink]="['/aplications']" [routerLinkActive]="['pr-nav-active']">Aplicari</a>
        <!-- Actiuni Profesor -->
        <a mat-menu-item *ngIf="loggedIn && user.Role=='Teacher'" [routerLink]="['/statistics']" [routerLinkActive]="['pr-nav-active']">Statistici</a>
        <!-- Profile -->
        <a mat-menu-item *ngIf="loggedIn && user.Role=='Student'" [routerLink]="['/profile/student']" [routerLinkActive]="['pr-nav-active']"><mat-icon>account_circle</mat-icon> Profil</a>
        <a mat-menu-item *ngIf="loggedIn && user.Role=='Company'" [routerLink]="['/profile/company']" [routerLinkActive]="['pr-nav-active']"><mat-icon>account_circle</mat-icon> Profil</a>
        <a mat-menu-item *ngIf="loggedIn && user.Role=='Teacher'" [routerLink]="['/profile/teacher']" [routerLinkActive]="['pr-nav-active']"><mat-icon>account_circle</mat-icon> Profil</a>
        <!-- Registe, login, logout -->
        <a mat-menu-item *ngIf="!loggedIn" [routerLink]="['/register']" [routerLinkActive]="['pr-nav-active']"><mat-icon>person_add</mat-icon> Creaza cont</a>
        <a mat-menu-item *ngIf="!loggedIn" [routerLink]="['/login']" [routerLinkActive]="['pr-nav-active']"><mat-icon>face</mat-icon> Intra in cont</a>
        <a mat-menu-item *ngIf="loggedIn" (click)="Logout()"><mat-icon>exit_to_app</mat-icon> Iesire</a>
    </mat-menu>
  </nav>
</header>

<!-- Container pentru pagini de angular -->
<section class="pr-main-content pr-container">
  <router-outlet></router-outlet>
</section>

<footer class="pr-main-footer">
  <mat-toolbar>
      <div class="pr-container">
        <span>©2017 PRACTICA.RO</span>
        <button mat-button>Despre noi</button>
        <button mat-button>Contact</button>
      </div>
  </mat-toolbar>
</footer>