<mat-card class="pr-activity-card" tabindex=0 *ngFor='let activity of activities'>
    <a class='pr-company-logo'>
      <img mat-card-image style='width:150px;margin:auto 0' src="{{activity.imageUrl}}" alt="Photo of a Shiba Inu">
    </a>
    <h3 class="pr-truncate-1-line pr-company-name">Company title</h3>
    <h2 class="pr-activity-name">
      <a class="pr-truncate-2-line" [routerLink]="['/activity-details/'+activity.activityId]">
        <strong>{{activity.activityName}}</strong>
      </a>
    </h2>

    <mat-card-content>
      <small class="pr-truncate-3-line pr-text-muted">
           {{activity.activityDescription}}
      </small>
    </mat-card-content>

    <p class="pr-text-muted">
      <i class="pr-place-icon material-icons">place</i>
      <span>
        {{activity.location}}
      </span>
    </p>
</mat-card>