<form [formGroup]="activityForm" (ngSubmit)="submitForm()">
  <div class='pr-panel'>
    <input type='hidden' formControlName="PublishDate" />
    <mat-form-field>
      <mat-select placeholder="Tip activitate" formControlName="Type" required>
        <mat-option value="practica">Practica</mat-option>
        <mat-option value="curs">Curs</mat-option>
        <mat-option value="eveniment">Eveniment</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class='pr-full-width'>
      <input matInput placeholder="Titlu" formControlName="Title" maxlength="100" required>
    </mat-form-field>
    <mat-form-field class='pr-full-width'>
      <textarea matInput placeholder="Descriere" formControlName="Description" required></textarea>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="startDatePicker" placeholder="Data inceput activitate" formControlName="StartDate" required>
      <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #startDatePicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="endDatePicker" placeholder="Data sfarsit activitate" formControlName="EndDate" required>
      <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #endDatePicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="expirationDate" placeholder="Data sfarsit aplicare" formControlName="ExpirationDate">
      <mat-datepicker-toggle matSuffix [for]="expirationDate"></mat-datepicker-toggle>
      <mat-datepicker #expirationDate></mat-datepicker>
    </mat-form-field>
    <mat-form-field class='pr-full-width'>
      <input matInput placeholder="Tara" formControlName="Country" required>
    </mat-form-field>
    <mat-form-field class='pr-full-width'>
      <input matInput placeholder="Oras" formControlName="City" required>
    </mat-form-field>
    <mat-form-field class='pr-full-width'>
      <input matInput placeholder="Adresa" formControlName="Address">
    </mat-form-field>
    <div [fxLayout]="row">
      <button mat-raised-button type="submit" [disabled]="!activityForm.valid" ><mat-icon>done</mat-icon> Salveza</button>
      <span class='pr-fill-space'></span>
      <button mat-raised-button class='pr-m-r-10' color='warn' type="button" *ngIf="!flagNewActivity" (click)="delete()"><mat-icon>delete</mat-icon> Sterge</button>
      <button mat-raised-button color='primary' type="button" [disabled]="!activityForm.valid" *ngIf="flagShowUnpublishButton" (click)="unpublish()"><mat-icon>visibility_off</mat-icon> Retrage</button>
      <button mat-raised-button color='primary' type="button" [disabled]="!activityForm.valid" *ngIf="flagShowPublishButton" (click)="publish()"><mat-icon>visibility</mat-icon> Publica</button>
    </div>
  </div>
</form>
