<form [formGroup]="profileForm" (ngSubmit)="submitForm()">
  <div class='pr-panel'>
    <div fxLayout="column" fxLayoutAlign="center center">
      <input #fileInput type="file" style="display:none;" (change)="handleFileInput($event.target.files)" />
      <div class='pr-preview-logo'>
        <img [src]="imageUrl"  alt="Logo" title="Logo" />
      </div>
      <button type="button" mat-raised-button (click)="fileInput.click()"><mat-icon>add_photo_alternate</mat-icon> Incarca logo</button>
      
    </div>
    <mat-form-field class='pr-full-width'>
      <input matInput placeholder="Nume companie" formControlName="companyName" required>
    </mat-form-field>

    <mat-form-field class='pr-full-width'>
      <textarea matInput placeholder="Scurta prezentare" formControlName="companyDescription">
      </textarea>
    </mat-form-field>

    <mat-form-field class='pr-full-width'>
      <input matInput placeholder="Website" formControlName="website">
    </mat-form-field>

    <mat-form-field class='pr-full-width'>
      <input matInput placeholder="Adresa" formControlName="address">
    </mat-form-field>

    <button mat-raised-button color='primary' [disabled]="!profileForm.valid" type="submit"><mat-icon>done</mat-icon> Salveaza</button>
  </div>
</form>