<form [formGroup]="profileForm" (ngSubmit)="submitForm()">
  <div class='pr-panel'>
    <mat-form-field class='pr-full-width'>
      <input matInput placeholder="Nume si prenume" formControlName="Name" required>
    </mat-form-field>

    <!--
    <mat-form-field class='pr-full-width'>
      <input matInput [matDatepicker]="birthDatePicker" placeholder="Data nasterii" formControlName="BirthDate">
      <mat-datepicker-toggle matSuffix [for]="birthDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #birthDatePicker></mat-datepicker>
    </mat-form-field>
    Sex:
      <mat-radio-group formControlName="sex">
        <mat-radio-button value="m">M</mat-radio-button>
        <mat-radio-button value="f">F</mat-radio-button>
      </mat-radio-group>
    -->

    <mat-form-field class='pr-full-width'>
      <textarea matInput placeholder="Scurta prezentare" formControlName="Description">
      </textarea>
    </mat-form-field>
    
    <mat-form-field class='pr-full-width'>
      <input type='hidden' formControlName="FacultyId">
      <input matInput placeholder="Facultate" [matAutocomplete]="auto" formControlName="Faculty" (blur)="onBlurFaculty()" (keyup)="onKeyUpFaculty()" required>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="facultyOptionSelected($event)">
        <mat-option *ngFor="let faculty of filteredFaculties | async" [value]="faculty">
          <span>{{ faculty.Name }}</span> |
          <small>{{ faculty.University }}</small>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    

    <mat-form-field class='pr-full-width'>
      <input matInput placeholder="Specializare" formControlName="Specialization" required>
    </mat-form-field>

    <mat-form-field class='pr-full-width'>
      <input matInput placeholder="Anul de studiu" formControlName="StudyYear" required>
    </mat-form-field>

    <mat-form-field class='pr-full-width'>
      <input matInput placeholder="Telefon" formControlName="Telephone">
    </mat-form-field>

    <mat-form-field class='pr-full-width'>
      <input matInput placeholder="Oras" formControlName="City">
    </mat-form-field>

    <button mat-raised-button color='primary' [disabled]="!profileForm.valid" type="submit"><mat-icon>done</mat-icon> Salveaza</button>
  </div>
</form>