<form [formGroup]="profileForm" (ngSubmit)="submitForm()">
  <div class='pr-panel'>
    <mat-form-field class='pr-full-width'>
      <input matInput placeholder="Nume si prenume" formControlName="name">
    </mat-form-field>

    <mat-form-field class='pr-full-width'>
      <input matInput placeholder="Telefon" formControlName="phone">
    </mat-form-field>

    <mat-form-field class='pr-full-width'>
      <input matInput placeholder="E-mail" formControlName="email">
    </mat-form-field>

    <mat-form-field class='pr-full-width'>
      <input matInput placeholder="Universitate" formControlName="university">
    </mat-form-field>

    <mat-form-field class='pr-full-width'>
      <input matInput placeholder="Facultate" formControlName="faculty">
    </mat-form-field>

    <mat-form-field class='pr-full-width'>
        <input matInput placeholder="Departament" formControlName="department">
      </mat-form-field>

    <button mat-raised-button type="submit">Trasmite</button>
  </div>
</form>