<form [formGroup]="registerForm" (ngSubmit)="submitForm()">
  <h2>Register</h2>
  <mat-form-field class='pr-full-width'>
    <input matInput placeholder="Email" formControlName="email" required />
  </mat-form-field>
  <mat-form-field class='pr-full-width'>
    <input matInput placeholder="Password" formControlName="password" required />
  </mat-form-field>
  <mat-form-field class='pr-full-width'>
    <input matInput placeholder="Repeat Password" formControlName="repassword" required />
  </mat-form-field>

  <button mat-raised-button type="submit">Trasmite</button>
</form>
