<div class="pr-panel">
    <div class="pr-activity-table mat-elevation-z8">
      <mat-table #table [dataSource]="dataSource" matSort matSortActive="Id" matSortDirection="desc">
    
        <!-- Id Column -->
        <ng-container matColumnDef="Id" >
          <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
          <mat-cell *matCellDef="let element"> <a (click)="openActivityDialog(element.ActivityId)">{{element.Id}}</a> </mat-cell>
        </ng-container>
    
        <!-- ActivityId Column -->
        <ng-container matColumnDef="ActivityId">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Id activitate </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.ActivityId}}  </mat-cell>
        </ng-container>
  
        <!-- Status Column -->
        <ng-container matColumnDef="Status">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.Status}} </mat-cell>
        </ng-container>
  
        <!-- CreatedDate Column -->
        <ng-container matColumnDef="CreatedDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Data aplicarii </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.CreatedDate |  date:'MM/dd/yyyy'}} </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    
      <mat-paginator #paginator
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 20]"
                     >
      </mat-paginator>
    </div>
  </div>
    