/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html{ height: 100%; }
body{ margin: 0; padding:0; min-height: 100%; position: relative; background-color:#f5f5f5; font-size:14px; }

a{
    color: #2e68ad;
    text-decoration: none;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.5;
}

p{ margin: 0 0 10px; }

.pr-container{
    margin-right: auto;
    margin-left: auto;
    padding-left: 6px;
    padding-right: 6px;
    display: flex;
}

.pr-full-width {
    width: 100%;
}
.pr-main-header{
    margin-bottom:20px;
}

.pr-main-content{
    padding-bottom: 64px; /*footer height*/
}

.pr-main-footer{
    position: absolute;
    bottom:0px; width: 100%
}

.pr-fill-space {
    flex: 1 1 auto;
}

.pr-nav-active{
    background:limegreen;
}


.pr-text-error{
    color:#f44336;
    font-size: 12px;
}

.pr-vertical-align-middle { 
    vertical-align: middle; 
}

.pr-search{
    border-radius:3px 0 0 3px;
    background-color:#f5f5f5;
    border:1px solid #ddd;
    color:#333;
    height:32px;
    padding:18px 10px;
    line-height:1.5;
    box-sizing:border-box;
    width:300px;
}

.pr-search:focus{
    border-color:#66afe9;
    box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
}

.pr-search-button{
    background-color:#f5f5f5 !important; 
    border:1px solid #ddd !important; 
    color:#333 !important;
    border-radius: 0 3px 3px 0 !important;
    font-size:12px !important;
    min-width:0 !important;
}

.pr-activity-card{
    margin: 0px 6px 12px 6px;
    float:left;
    width:100%;
    box-sizing:border-box;
}
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
    .pr-container{
        width:732px;
    }
    .pr-activity-card{
        width:48.3%;
    }
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
    .pr-container{
        width:992px;
    }
    .pr-activity-card{
        width:32.1%;
    }
 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
    .pr-container{
        width:1152px;
    }
    .pr-activity-card{
        width:23.9%;
    }
 } 

 .pr-company-logo{
    display:block;
    height: 60px;
    width: 170px;
    margin-bottom: 1.5em !important;
    margin-top: 1.5em !important;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    cursor: pointer;
 }

 .pr-company-logo img{
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
 }

 .pr-truncate-1-line{  
    display: block;
    height:20px;
    overflow: hidden;
    width: 100%;
 }

 .pr-truncate-2-line{
    display: block;
    height: 40px;  
    overflow: hidden;   
    width: 100%;
 }

 .pr-truncate-3-line {
    display: block;
    height: 60px;
    overflow: hidden;
    width: 100%;
}

small.truncate-3-line{
    line-height: 20px;
    margin-bottom: 1.5em !important;
}

.pr-company-name{
    font-size: 85%;
}

.pr-activity-name{
    margin-top: 0;
    font-size: 14px;
    line-height: 1.5;
}

.pr-text-muted{
    color: #999;
}

.pr-place-icon{
    font-size:14px;
}

.pr-activity-card a:hover,.pr-activity-card a:focus {
    color: #1e4471;
    text-decoration: underline;
}

.mat-cell a:hover{
    color: #1e4471;
    text-decoration: underline;
}

.pr-panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-sizing: border-box;
    padding-top: 3em !important;
    padding: 20px;
}

.pr-preview-logo{
    height: 70px;
    width: 180px;
    border: 1px solid #ddd;
    border-radius: 3px;
    display: block;
    line-height: 1.428571429;
    padding: 4px;
    position: relative;
    margin-bottom: .5em;
    text-align: center;
}

.pr-preview-logo img{
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.pr-activity-table{
    display: flex;
    flex-direction: column;
}